@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* [uidensity="compact"] */

/* changes padding of toolbar buttons */

toolbar .toolbarbutton-1 {
	margin: 0.1px !important;
	padding: -2px -2px -2px -2px !important;
}

/* adjusts the padding and margin of the URL box buttons */

:root .urlbar-icon {
	width: 16px !important;
	height: 16px !important;
	padding: 4px !important;
}

/* adjusts the padding and margin of the icons before the URL */
#identity-icon, #tracking-protection-icon, #connection-icon, .notification-anchor-icon, #blocked-permissions-container > .blocked-permission-icon, #extension-icon {
	width: 14px !important;
	height: 14px !important;
	margin-inline-start: 4px !important;
}

/* adjusts entire nav bar padding */

#nav-bar {
	padding-top: -1px !important;
	padding-bottom: -1px !important;
}

/* adjusts the padding of the three lines menu button */

#PanelUI-menu-button {
	padding-inline-start: 8px !important;
	padding-inline-end: 8px !important;
}

/* hides forward and back buttons */

#forward-button {
	display: none !important;
}

#back-button {
	display: none !important;
}

/* reduces the margin of the url bar */

#urlbar-container {
	margin: -4px !important;
}

/* url bar border settings */

#urlbar, .searchbar-textbox {
	border: 0px solid hsla(240,5%,5%,.25) !important;
}

/* tab box border settings */

#TabsToolbar:not([collapsed="false"]) + #nav-bar {
	border-top: 0px solid var(--tabs-border) !important;
}

/* hides color line on top of tabs */

:root {
/*	--tab-line-color: none !important;
	--toolbarbutton-border-radius: 0px !important;*/
/* removes inner padding of all toolbar buttons */
	--toolbarbutton-inner-padding: -1px !important;
/* decreases tab height (only works in pair with "--toolbarbutton-inner-padding") */
	--tab-min-height: 20px !important;
}

/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
  align: left !important;
/*  background-color: #C61C6F;*/
}


/*
 * Prevent tab overflow as long as possible without making them hard to click
 *
 * Contributor(s): Madis0
 *
 * Original by Jeremy Sturdivant (https://superuser.com/a/238435) -- CC BY-SA
 */

.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}


/* Copyright (c) 2017 Haggai Nuchi
Available for use under the MIT License:
https://opensource.org/licenses/MIT
*/
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}


/* Remove New Tab Flash */

@-moz-document url(chrome://browser/content/browser.xul)
{
  browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content
  {
    background: #323234 !important;
  }
}
#TabsToolbar {
    padding-inline-start: initial !important;
}
.tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[first-visible-tab] .tab-background,
.tabbrowser-tabs[movingtab] .tabbrowser-tab[first-visible-tab][style*="translateX(0px)"] .tab-background {
    border-inline-start: initial !important;
}

#main-window:not(#f) .tabbrowser-tab .tab-close-button { margin: 0 4px 0 -2px !important; }
#main-window:not(#f) .tabbrowser-tab .tab-close-button,
#main-window:not(#f) .tabbrowser-tab:hover .tab-icon-image,
#main-window:not(#f) .tabbrowser-tab[busy] .tab-icon-image { display: none !important; }
#main-window:not(#f) .tabbrowser-tab:hover .tab-close-button { display: -moz-box !important; }
#main-window:not(#f) .tabbrowser-tab:hover .tab-icon-image { -moz-box-ordinal-group: 1 !important; }
#main-window:not(#f) .tabbrowser-tab .tab-close-button { -moz-box-ordinal-group: 2 !important; }
#main-window:not(#f) #.tabbrowser-tab .tab-throbber { -moz-box-ordinal-group: 3 !important; }
#main-window:not(#f) .tabbrowser-tab .tab-label-container { -moz-box-ordinal-group: 4 !important; }
#main-window:not(#f) .tabbrowser-tab .tab-icon-sound { -moz-box-ordinal-group: 5 !important; }
